= form_for(@<%= singular_name %>) do |f|
  - if @<%= singular_name %>.errors.any?
    #errorExplanation
      %h2
        = t 'errors.template.header', :model => t('.<%= singular_name %>'), :count => @<%= singular_name %>.errors.count
      %ul
        - @<%= singular_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .field
    = f.label :<%= attribute.name %>
    %br
    = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>

  .actions
    = f.submit
