- title t('.title')

%p.nav
<% if options[:cancan] -%>
  - if can? :index, <%= class_name %>
    = link_to t('back'), <%= plural_name %>_path, :class => 'index'
  - if can? :show, @<%= singular_name %>
    = link_to t('show'), @<%= singular_name %>, :class => 'show'
<% else -%>
  = link_to t('back'), <%= plural_name %>_path, :class => 'index'
  = link_to t('show'), @<%= singular_name %>, :class => 'show'
<% end -%>
= render 'form'
