%h1= t('.title')
%p= link_to t('.new_<%= singular_name %>'), new_<%= singular_name %>_path

%table
  %thead
    %tr
<% for attribute in attributes -%>
      %th= <%= class_name %>.human_attribute_name :<%= attribute.name %>
<% end -%>
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for <%= singular_name %> in @<%= plural_name %>
      %tr{ :class => cycle(:odd, :even) }
<% for attribute in attributes -%>
        %td= <%= singular_name %>.<%= attribute.name %>
<% end -%>
        %td.action= link_to t('show'), <%= singular_name %>
        %td.action= link_to t('edit'), edit_<%= singular_name %>_path(<%= singular_name %>)
        %td.action= link_to t('destroy'), <%= singular_name %>, :confirm => t('are_you_sure'), :method => :delete
