- title t('.title')

%p
<% if options[:cancan] -%>
  - if can? :index, <%= class_name %>
    = link_to t('back'), <%= plural_name %>_path
  - if can? :edit, @<%= singular_name %>
    = link_to t('edit'), edit_<%= singular_name %>_path(@<%= singular_name %>)
<% else -%>
  = link_to t('back'), <%= plural_name %>_path
  = link_to t('edit'), edit_<%= singular_name %>_path(@<%= singular_name %>)
<% end -%>

%dl
<% for attribute in attributes -%>
  %dt= <%= class_name %>.human_attribute_name :<%= attribute.name %>
  %dd= @<%= singular_name %>.<%= attribute.name %>
<% end -%>
